.theAside {
  grid-area: theAside;
}
h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  padding-top: 4rem;
}
p {
  font-size: 1.8rem;
  padding-top: 4rem;
  text-align: center;
}
hr {
  margin: 1rem;
}
