//parti expériences
.main__experience {
  padding-top: 3rem;
}
.main__experience__p1 {
  padding-left: 1rem;
  text-align: start;
}
.main__experience__p2 {
  flex-direction: row;
  flex: 3;
  text-align: start;
}
